.tox
.cache
.eggs
.idea
.vscode
DXFResearch
build
dist
venv
src/ezdxf.egg-info
docs/build
tools/plotstyles
tools/ltype/
__pycache__
newctb.ctb
makefile
tox.ini
tox-all.ini
/profiling/logs/
/wheels/*.whl
/src/mypy-reports/
/examples_hpgl2_private
/fonts/shapefiles
/fonts/*.json
notes
