.tox
.cache
.eggs
.idea
.vscode
DXFResearch
build
dist
venv
src/ezdxf.egg-info
docs/build
tools/plotstyles
tools/ltype/
__pycache__

examples/**/*.dxf
newctb.ctb
makefile
tox.ini
tox-all.ini
/profiling/logs/
/wheels/*.whl
/docs/source/tutorials/**/*.dxf
/docs/source/tutorials/src/geo/*.geojson
/examples_dxf/points_pdmode_*.dxf
/examples_dxf/linetypes_*.dxf
/examples_dxf/hatch_*.dxf
/examples_dxf/insert_nesting_level_0.dxf
/examples_dxf/insert_nesting_level_1.dxf
/examples_dxf/mtext_simple_all_alignments.dxf
/src/mypy-reports/
/examples_hpgl2
/shapefiles
