.tox
.cache
.eggs
.idea
.vscode
DXFResearch
build
dist
ezdxf.egg-info/*
docs/build/*
examples/**/*.dxf
experiments/**/*.dxf
issues/**/*.dxf
issues/**/*.html
tools/plotstyles/*
newctb.ctb
__pycache__

