include NEWS.md README.md LICENSE
include requirements.txt
include src/ezdxf/py.typed
recursive-include src/ezdxf/acc *.hpp *.cpp *.h *.c *.pxd *.pyx
recursive-include tests *.py
recursive-include tests/data *
recursive-include integration_tests *.py
recursive-include integration_tests/data *
