name: Check type annotations by mypy

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install wheel mypy pyparsing numpy fonttools
    - name: Install without C-extensions
      run: |
        python -m pip install .
    - name: Check type annotations by mypy
      run: |
        python -m mypy --ignore-missing-imports -p ezdxf
