name: Test without C-extensions

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14', 'pypy-3.10']
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # Excluding Cython to test the pure Python version.
        python -m pip install "setuptools>69.0.0" wheel
    - name: Install without C-extensions
      run: |
        python -m pip install --no-build-isolation .
    - name: Test without C-extensions
      run: |
        # install test dependencies
        python -m pip install pytest Pillow
        python -m pytest tests integration_tests
