# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test C-extensions

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # This are just testing requirements:
        python -m pip install pytest pyparsing geomdl cython
    - name: Build C-extensions
      run: |
        python setup.py build_ext -i
    - name: Test with C-extensions
      run: |
        python -m pytest tests integration_tests
